.select2-container{
    z-index: 9999999 !important;
    margin-top: 50px !important;
    margin-left: 15px !important; 
}

.select2-dropdown{
    margin-top: -50px !important;
    margin-left: -15px !important;
}